* {
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
}
body {margin:0}
h1 {
    font-weight: 500;
}
.hometitle {
    font-size: 5rem;
    margin: 25vh 0 0 0;
}
.centered {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;

    color:rgb(177, 177, 177);
    font-weight: 300;
    font-size: 0.75rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    color:rgb(196, 196, 196);
    font-weight: 300;
    font-size: 0.75rem;
    margin: 5rem 5rem 0 5rem;
    padding: 1rem;
    border-top: 0.5px solid gray;
}

ul {
    margin: 0;
    
    display: flex;
    flex-direction: row;
    line-height: 0;
    background-color: white;
    z-index: 9999;
}
.homenav {
    font-size: 1.4rem;
    margin: 5vh 0 30vh 0;

    padding-left: 1rem;
    padding-right: 1rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.nav {
    position:sticky;
    top: 0;
    margin: 0 2rem 5vh 2rem;
    padding: 0;
    

    border-bottom: 2px solid black;
}
li {
    list-style-type: none;
    display: flex;
}
li>a {
    flex-grow: 1;
    display: flex;          /* for centering text/icon */
    align-items: center;    /* vertical centering */
    padding: 0.5rem;        /* your original padding */
    text-decoration: none;
    color: black;
    line-height: normal;    

    font-variation-settings: 'wght' 300;
    /* transition: font-variation-settings 0.3s ease-out; */
    transition: 0.3s ease-out;
}
li>a:hover {
    color: gray;
    font-variation-settings: 'wght' 500;
    /* background-color: rgb(237, 250, 255); */
}
.nav a:hover{
    box-shadow: 0 2px 0 0 rgb(153, 192, 255),
                inset 0 -2px 0 0 rgb(153, 192, 255);
}
#currentselection {
    color: gray;
    font-variation-settings: 'wght' 500;
    box-shadow: 0 2px 0 0 rgb(79, 146, 255),
                inset 0 -2px 0 0 rgb(79, 146, 255);
}
.homebutton:hover {
    background-color: transparent;
}
.homebutton img {
    opacity: 1;
    transition: 0.3s ease;
}
.homebutton:hover img {
    opacity: 50%;
    transition: 0.3s ease;
}
li img {
    width: 1.5rem;
    height: 1.5rem;
}
#img_overlay {
    position: relative;
    display: inline-block;
    /* text-align: center; */
}
#img_overlay img {
    display: block;          /* removes extra inline spacing */
    width: 100%;             /* keeps natural size */
    height: auto;
}

#img_overlay div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;

    color: white;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 98;
}
#img_overlay:hover div {
    opacity: 1;
}
#img_overlay::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0); /* initially transparent */
    box-shadow: inset 0 0 50px rgba(0,0,0,0.5); /* inset shadow inside image */
    transition: background 0.4s ease;
    z-index: 1; /* sits above image but below text */
}

#img_overlay:hover::before {
    background: rgba(0,0,0,0.5); /* darken on hover */
}